<h1><%= t ".title", course_name: @learning.course.name %></h1>
<p>
  <%= t ".hello", user_name: @learning.user.name %>
</p>
<p>
  <%= t ".your_point_below" %>
  <table width="100%" cellspacing="1" align="center" bgcolor="black">
    <thead bgcolor="white">
      <tr>
        <th height="30" width="25%"><%= t "name" %></th>
        <th width="15%"><%= t "student_code" %></th>
        <th width="15%"><%= t "birthday" %></th>
        <th><%= t "midterm_point" %></th>
        <th><%= t "final_point" %></th>
        <th><%= t "summary_point" %></th>
      </tr>
    </thead>
    <tbody bgcolor="white" align="center">
      <td height="30"><%= @learning.user.name %></td>
      <td><%= @learning.user.code %></td>
      <td><%= @learning.user.birthday.strftime "%d/%m/%Y" %></td>
      <td><b><%= @learning.midterm_point %></b></td>
      <td><b><%= @learning.final_point %></b></td>
      <td><b><%= @learning.summary_point %></b></td>
    </tbody>
  </table>
</p>
<p>
  <%= t ".click_link_below" %><br>
  <%= link_to "Click here", @learning.course %>
</p>
