<% provide title: t(".home") %>
<%= current_user&.name %>
<ul>
  <% if logged_in? %>
    <li>
      <%= link_to logout_path, data: {hover: t(".log_out")},
      method: :delete do %>
      <span><%= t ".log_out" %></span>
      <% end %>
    </li>
    <% else %>
    <li>
      <%= link_to login_path, data: {hover: t(".log_in")} do %>
      <span><%= t ".log_in" %></span>
      <% end %>
    </li>
    <li>
      <%= link_to signup_path, data: {hover: t(".sign_up")} do %>
      <span><%= t ".sign_up" %></span>
      <% end %>
    </li>
  <% end %>
</ul>
