<tr>
  <th><%= index + 1 %></td>
  <td>
    <%= link_to learning.user do %>
      <%= gravatar_for learning.user, size: 36 %>
      &nbsp; <%= learning.user.name %>
    <% end %>
  </td>
  <td><%= learning.user.code %></td>
  <td><%= learning.user.birthday.strftime "%d/%m/%Y" %></td>
  <td><%= learning.midterm_point %></td>
  <td><%= learning.final_point %></td>
  <td><%= learning.summary_point %></td>
  <% if current_user? learning.user && current_user.student? %>
    <td>
      <%= button_to learning_path(learning), method: :delete,
        class: "btn btn-danger" do %>
        Remove&nbsp;
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </td>
  <% end %>
</tr>
