<div class="text-center">
  <%= gravatar_for user, size: 240 %>
  <h1>
    <%= link_to user.name, user %>
  </h1>
</div>
<ul class="list-group">
  <li class="list-group-item">
    <span class="glyphicon glyphicon-user"></span>&nbsp;
    <%= user.student? ? " Student" : "Teacher" %>
  </li>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-envelope"></span>&nbsp;
    <%= user.email %>
  </li>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-gift"></span>&nbsp;
    <%= user.birthday.strftime("%d/%m/%Y") %>
  </li>
  <% if user.student? %>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-qrcode"></span>&nbsp;
      <%= user.code %>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-credit-card"></span>&nbsp;
      <%= sum_credits @user %> credits
      <% if current_user? @user %>
        (<span class="text-danger"><%= avg_point(@user.learnings).ceil(2) %></span>)
      <% end %>
    </li>
  <% end %>
</ul>
<% if current_user? @user %>
  <%= link_to edit_user_path(@user), class: "btn btn-primary btn-block" do %>
    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
    Edit my profile
  <% end %>
<% end %>
<%= render "layouts/search_users" %>
