<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: :name %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", placeholder: :name %>
  </div>
  <div class="form-group">
    <%= f.label :code %>
    <%= f.number_field :code, class: "form-control", placeholder: :code %>
  </div>
  <div class="form-group">
    <%= f.label :birthday %>
    <%= f.date_field :birthday, class: "form-control", placeholder: :birthday %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control",
      placeholder: "Password" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control",
      placeholder: :password_confirmation %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
