<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: :name %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <% unless current_page? signup_path %>
      <%= f.email_field :email, class: "form-control", placeholder: :email, disabled: :disabled %>
    <% else %>
      <%= f.email_field :email, class: "form-control", placeholder: :email %>
    <% end %>
  </div>
  <% if current_user&.student? %>
    <div class="form-group">
      <%= f.label :code %>
      <% unless current_page? signup_path %>
        <%= f.number_field :code, class: "form-control", placeholder: :code, disabled: :disabled %>
      <% else %>
        <%= f.number_field :code, class: "form-control", placeholder: :code %>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :birthday %>
    <%= f.date_field :birthday, class: "form-control", placeholder: :birthday %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control",
      placeholder: :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control",
      placeholder: :password_confirmation %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
