<tr>
  <th><%= link_to learning.course.name, learning.course %></th>
  <th><%= link_to learning.course.lecture.name, learning.course %></th>
  <td>
    <%= learning.course.semester.name %>
  </td>
  <td>
    <%= full_school_year learning.course.semester.school_year.year %>
  </td>
  <% if current_user? learning.user %>
    <td><%= learning.midterm_point %></td>
    <td><%= learning.final_point %></td>
    <td><%= learning.summary_point %></td>
    <td>
      <%= link_to learning, method: :delete,
        class: "btn btn-danger" do %>
        Remove&nbsp;
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </td>
  <% end %>
</tr>
