<tr>
  <td>
    <%= link_to user do %>
      <%= gravatar_for user, size: 36 %>&nbsp; <%= user.name %>
    <% end %>
  </td>
  <td><%= user.code %></td>
  <td><%= user.email %></td>
  <td><%= user.birthday.strftime("%d/%m/%Y") %></td>
</tr>
