<% learning = current_user&.learning?(course) %>
<tr class="<%= "success" if course.file_upload.attached? %><%= " text-bold" if (learning) %>">
  <td>
    <%= link_to course.lecture.name, course %>
  </td>
  <td class="text-center"><%= link_to course.name, course %></td>
  <td class="text-center"><%= link_to course.user.name, course.user %></td>
  <td class="text-center"><%= course.semester.name %></td>
  <td class="text-center"><%= full_school_year course.semester.school_year.year %></td>
  <td class="text-center"><%= course.learnings.count %></td>
  <td class="text-center">
    <% if current_user&.student? %>
      <% if learning %>
        <%= button_to learnings_path(learning), method: :delete,
          class: "btn btn-danger" do %>
          Remove&nbsp;
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      <% else %>
        <%= button_to learnings_path, method: :post,
          params: {course_id: course.id, user_id: current_user&.id},
          class: "btn btn-primary" do %>
          Register&nbsp;
          <span class="glyphicon glyphicon-ok"></span>
        <% end %>
      <% end %>
    <% elsif course.teach_by?(current_user) %>
      <%= link_to edit_course_path(course), class: "btn btn-primary" do %>
        Update Points&nbsp;
        <span class="glyphicon glyphicon-upload"></span>
      <% end %>
    <% end %>
  </td>
</tr>
