<% if courses.present? %>
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-3"><%= t "lecture" %></th>
        <th class="text-center"><%= t "course" %></th>
        <th class="text-center"><%= t "teacher" %></th>
        <th class="text-center"><%= t "semester" %></th>
        <th class="text-center"><%= t "school_year" %></th>
        <th class="text-center"><%= t "numerator" %></th>
        <% if current_user %>
          <th class="text-center">Action</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render courses %>
    </tbody>
  </table>
<% else %>
  <div class="well well-sm">Cannot found any course.</div>
<% end %>
