<div class="container">
  <div class="col-md-3">
    <%= render "layouts/brand" %>
    <% if current_user&.teacher? %>
      <hr>
      <%= link_to new_course_path, class: "btn btn-primary btn-block" do %>
        <span class="glyphicon glyphicon-plus"></span>&nbsp;
        Add a course
      <% end %>
    <% end %>
  </div>
  <div class="col-md-9">
    <%= render "layouts/search_courses" %>
    <% unless params[:keyword] %>
      <ul id="navbar" class="nav nav-tabs">
        <% SchoolYear.all.order(:year).each do |school_year| %>
          <li id="tit-<%= school_year.year %>" class="<%= school_year.year == 2018 ? "active" : "" %>">
            <a href="#tab-<%= school_year.year %>" data-toggle="tab"><strong>
            <%= full_school_year school_year.year %></strong></a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% SchoolYear.all.order(:year).each do |school_year| %>
          <div id="tab-<%= school_year.year %>" class="tab-pane fade <%= school_year.year == 2018 ? " in active" : "" %>">
            <% school_year.semesters.order(:id).each do |semester| %>
              <hr>
              <h4>
                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                <%= semester.name %>
              </h4>
              <%= render "courses/courses", courses: @courses.where(semester_id: semester.id).order(:lecture_id) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
