<% provide :title, @course.name + " - " + @course.lecture.name %>
<div class="container">
  <div class="col-md-3">
    <%= render "brand" %>
  </div>
  <div class="col-md-9">
    <fieldset>
      <legend>
        <h3>
          <span class="glyphicon glyphicon-transfer"></span>
          <%= t ".similar_courses" %> <small>(<%= full_school_year @course.school_year.year %>)</small>
        </h3>
      </legend>
      <ul class="nav nav-tabs">
        <% @course.lecture.courses.where(semester_id: @course.semester_id).each do |course| %>
          <li<%= course == @course ? ' class=active' : '' %>>
            <%= link_to course.name, course %>
          </li>
        <% end %>
      </ul>
    </fieldset>
    <fieldset>
      <legend>
        <h3>
          <span class="glyphicon glyphicon-education"></span>
          <%= t ".students" %> (<%= @course.learnings.count %>)
        </h3>
      </legend>
      <%= form_tag @course, remote: true, method: :get, id: "search-in-course-form" do %>
        <div class="input-group">
          <input type="text" name="name" id="search-in-course-input" class="form-control" value="" placeholder="Search student in this course...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              <span class="glyphicon glyphicon-search"></span>
              <%= t "search" %>
            </button>
          </span>
        </div>
      <% end %>
      <hr>
      <div id="notice-search"></div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th><%= t "name" %></th>
            <th><%= t "student_code" %></th>
            <th><%= t "birthday" %></th>
            <th><%= t "midterm_point" %></th>
            <th><%= t "final_point" %></th>
            <th><%= t "summary_point" %></th>
          </tr>
        </thead>
        <tbody id="students-result">
          <%= render @learnings %>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>
