<div class="container">
  <div class="col-md-3">
    <%= render "brand" %>
  </div>
  <div class="col-md-9">
    <h3><span class="glyphicon glyphicon-transfer"></span> Similar courses</h3>
    <ul class="nav nav-tabs">
      <% @course.lecture.courses.where(semester_id: @course.semester_id).each do |course| %>
        <li<%= course == @course ? ' class=active' : '' %>>
          <%= link_to course.name, course %>
        </li>
      <% end %>
    </ul>
    <h3><span class="glyphicon glyphicon-education"></span> Students (<%= @course.learnings.count %>)</h3>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Student Code</th>
          <th>Birthday</th>
          <th>Midterm</th>
          <th>Final</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>
        <% @course.learnings.each_with_index do |learning, index| %>
          <%= render "learnings/learning", learning: learning, index: index %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
