<div id="header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" style="margin-top: 0px;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="padding: 3px;margin-right: 1em"><img src="http://hasagi.com/images/logo_hasagi_white.png" style="width: 9em; height: auto;" alt="Logo Hasagi.com"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="<%= yield :static_pages %>">
            <%= link_to root_path do %>
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
            <% end %>
          </li>
          <li class="<%= yield :lectures %>">
            <%= link_to lectures_path do %>
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Lectures
            <% end %>
          </li>
          <li class="dropdown <%= yield :courses %>">
            <%= link_to "#", class: "dropdown-toggle",
              data: {toggle: "dropdown"} do %>
              <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;
              Courses <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to courses_path do %>
                  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp; All courses
                <% end %>
              </li>
              <li>
                <%= link_to current_user do %>
                  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp; My courses
                <% end %>
              </li>
              <% if current_user&.teacher? %>
                <li>
                  <%= link_to new_course_path do %>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add new course
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li class="dropdown <%= yield :users %>">
              <%= link_to "#", class: "dropdown-toggle",
                data: {toggle: "dropdown"} do %>
                <%= gravatar_for current_user, size: 36 %>
                <%= current_user.name %> <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to current_user do %>
                    <span class="glyphicon glyphicon-user"></span>
                    &nbsp; Profile
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_user_path(current_user) do %>
                    <span class="glyphicon glyphicon-cog"></span>
                    &nbsp; Setting
                  <% end %>
                </li>
                <li>
                  <%= link_to users_path do %>
                    <span class="glyphicon glyphicon-certificate"></span>
                    &nbsp; Teachers
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to logout_path, method: :delete do %>
                    <span class="glyphicon glyphicon-log-out"></span>
                    &nbsp; Log Out
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to signup_path do %>
                <span class="glyphicon glyphicon-new-window"></span>
                &nbsp; Sign Up
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <span class="glyphicon glyphicon-log-in"></span>
                &nbsp; Log In
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
