<fieldset>
  <legend>
    <h3>
      <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
      <%= t ".search_course" %>
    </h3>
  </legend>
  <%= form_tag courses_path, remote: true, method: :get, id: "search-courses-form" do %>
    <div class="input-group">
      <input type="text" name="keyword" id="search-courses-input" class="form-control" value="<%= @keyword %>" placeholder="<%= t ".holder" %>">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">
          <span class="glyphicon glyphicon-search"></span>
          <%= t "search" %>
        </button>
      </span>
    </div>
  <% end %>
</fieldset>
<hr>
<div id="search-courses-result"></div>
